<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link type="text/css" href="main.css" rel="stylesheet">
</head>
<body>
<script type="module" src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<div id="app">
  <header>
    <header-vue :search-value="searchLine" :goods="goods"></header-vue>
  </header>
  <main>
    <goods-list :goods="filteredGoods" :alert="visibleAlert">
      <data-alert v-if="visibleAlert"></data-alert>
    </goods-list>
    <cart-list v-if="visibleCart"></cart-list>
  </main>
</div>
</body>
</html>