<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link type="text/css" href="main.css" rel="stylesheet">
</head>
<body>
<script type="module" src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<div id="app">
  <header>
    <input type="text" class="goods-search" v-model="searchLine" />
    <button class="search-button" type="button" @click="filterGoods">Искать</button>
    <button class="cart-button" type="button" @click="handleCart">Корзина</button>
  </header>
  <main>
    <div class="goods-list">
      <p v-if="!filteredGoods.length">Нет данных</p>
      <div class="goods-item" v-for="good in filteredGoods">
        <h3 class="product_title">{{ good.product_name }}</h3>
        <p class="product_price">{{ good.price }}</p>
      </div>
    </div>
    <div class="cart-list" v-if="visibleCart">
      <div class="cart-item">
        <h3>~~~Cart block~~~</h3>
      </div>
    </div>
  </main>
</div>
</body>
</html>