.products {
  background-color: cornflowerblue;
  width: fit-content;
  padding: 14px 24px;
  margin: auto;
}

.product_card {
  padding: 16px;
  width: 300px;
  border: 1px solid gray;
  margin: 10px 0;
  border-radius: 6px;
  text-align: center;
  background-color: white;

  .product_title {
    margin-top: 0;
    font-size: 24px;
  }

  .product_price {
    font-size: 18px;
  }

  .product_button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
  }
}